.vscode
.DS_Store

tmp/

build/
dist/
components/idf_test/unit_test/components/lwip/lwip_test_apps/

sdkconfig

components/esptool_py/esptool/flash_id.pyc
components/espcoredump/espcoredump.pyc
components/partition_table/gen_esp32part.pyc
components/partition_table/parttool.pyc
components/spiffs/spiffsgen.pyc
components/mbedtls/esp_crt_bundle/gen_crt_bundle.pyc

tools/idf_monitor/idf_monitor.elf
tools/idf_monitor/idf_monitor.map

*.o
*.obj
*.d
*.a
flash_project_args.txt
sdkconfig.old

components/idf_test/unit_test/components/nvs_flash/test_nvs_flash_part.bin
components/idf_test/unit_test/components/vfs/test_fatfs_rw_speed/test_file.txt
components/idf_test/unit_test/components/vfs/test_fatfs_rw_speed/test_dir

components/esp32/bootloader/bootloader.elf
components/esp32/bootloader/flash_bootloader.bin

components/espcoredump/espcoredump.elf

managed_components/

components/esp32/ld/esp32.rom.ld

*.pyc
*.pyo
*.pyd

.env
.venv

__pycache__/

*.log
*.lock

.idea/
.vscode/
*.swp
*.swo
